*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #a9c7e0;
}
/* vav */
nav{
    width: 100%;
    height: 100px;
    background-color: rgba (71, 71, 186,0.864 );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#logo{
    
    width: 110px;
    height: 90px;
    padding: 30px;
}
.input{
    display: flex;
}
input{
    width: 280px;
    height: 40px;
}
i{
    background-color: rgb(222, 204, 70);
    color: #fff;
    padding: 9px;
    margin-left: -30px;
}
.cart{
    display: flex;
    padding: 0px 50px;
    width: 30px;
    height: 30px;
}
.cart img{
    padding-left: 10px;
}
.cart img:hover{
    cursor: pointer;

}
/* small screen  use 1000px*/
@media(max-width:1000px){
    nav{
        width: 80px;
    }
    #logo{
        width: 100px;
        height: 100px;
    }
    input{
        width: 250px;
        height: 30px;
    }
    i{
        margin-left: -20px;
        padding: 7px;
    }
    .cart{
        padding: 0px 20px;
        width: 20px;
        height: 20px;
    }
    .cart img{
        padding-left: 7px;

    }
    /* for Mobile  */
    @media(max-width:300px){
        nav{
            height: 60px;
        }
        #logo{
            width: 60px;
            height: 50px;
        }
        input{
            width: 170px;
            height: 25px;
        }
        i{
            background-color: transparent;
            color: #000;
            padding-top: 2px;
            margin-left: -28px;
        } 
        .cart{
             padding: 0 15px; 
             width: 15px; 
             height: 15px; 
         } 
         .cart img{ 
            padding-left: 5px; 
        }
    } 
    .background-imag h2{
        font-size: 18px;

    }
    .background-imag img{
        width: 60%;
    }
     /*Home  */
     .home{
        margin: 20px 0;
     }
     .categories{
        padding: 5px;
        height: 250px;
     }
     .categories h2{
        /* font-size: 7px; */
        padding: 2px;
        margin-top: 2px;
     }
     .categories li{
        padding: 2px 0;
        font-size: 4vh;
     }

}
/* Home */
.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0;
    justify-content: space-evenly;
    
    
}
.categories{
width: 140px;
    background-color: aliceblue;
    border: 1px solid wheat;
    padding: 15px;
    
}
.categories h2{
    background-color:rgba(71, 71, 186, 0.864);
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 150px;
    
}
.categories li{
    list-style-type: none;
    padding: 15px 0;
    padding-left: 20px;
    /* .background-imag{
        background-image: linear-gradient(rgba(0,0,0,0),(rgba(0,0,0,0)),url());
        background-size: cover;
    } */
   
}
.background-imag h2{
    font-size: 10px;
}
.background-imag img{
    width: 30%;
    /* Mob */
    #Mob-heading{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0 20px;
        font-size: 2.5vh;
    }
    /* .Mobiles{
        grid-template-columns: 50% 50%;
        justify-content: space-around;
    } */

}
.categories a{
    text-decoration: none;
    color: #000;
}
.background-imag{
 
   background-image: linear-gradient(rgba(0,0,0,0.43),rgba(0,0,0,0.438)),url(./assets/background-img.webp);
   color: #fff;
   width: 80%;
   display :flex;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 70px;
   
}

.background-imag h2{
    z-index: 2;
    text-align: center;
    font-size: 28px;
}

/* Mobiles */
#mob-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;


}
.Mobiles{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    justify-content: space-around;

}
.Mobiles div{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fafafa;
    border: 1ps solid gainsboro;
    text-align: center;
    margin: 10px 0;
}
.Mobiles div img{
    height: 140px;
    width: 100px;
    border-radius:5px ;
    margin: 5px;
    background-color: transparent;
}
.Mobiles span p{
    padding: 5px;
    font-size: small;
}
.Mobiles span p:first-child{
    font-weight: bold;

}
.Mobiles:hover{
    background-color: #fafafa;
}
/* Mobiles  */
#Mobiles-heading{
    margin-top:80px ;
    margin-bottom:10px ;
    padding: 10px 20px;
}
.Mobiles{
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}
.Mobiles div{
    margin: 10px 0;
    height: 100%;
    border: 1px solid #fafafa;
}
.Mobiles div img{  
    width: 90%;
    height: 90%;
}
.Mobiles span p{
    font-size: medium;
}
